.addToMyBen {
	background-color: #E9721C;
	padding-top: 1px;
}

.objectListItem {
	height: 60%;
}

.valueBlock {
	text-align: right;
}
.valueBlockInput {
	line-height: 1px;
    border-spacing: 1px
}
.valueInput {
	height: 80%;
	color: #f66900;
	font-size:48px
}

.valueOutput {
	height: 80%;
	color: #0E5E9E;
	padding-top: 0.7rem;
	font-size:36px
}

.valueUnit {
	padding-top: 0.1cm;
	color: #666666
}

.valueDesc {
	padding-top: 0.5rem;
	font-weight: bold;
}
/* Landing Page block */

.emptyTitle {
	color: #016967;
	font-family: "Arial";
	font-size: 70px;
}
.emptyDesc {
	color: #FFFFFF;
	font-weight: bold;
    background-color: #CCCC33;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
}
.emptyMess {
	color: #2B2B15;
	font-weight: bold;
    background-color: #CCCC99;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
}
.emptyPic {
    background-color: #FFFFFF;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
}

.emptyBorders1 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
}
.emptyBorders2 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
}
.emptyIcon{
	font-size : 50px;
	margin-right: 15px;
}
.myMap {
    min-height: 300px;
    height: 100%;
    width: 100%
}
.label2 {
    margin-top: 2px;
}
.size1 {
    margin-top: 2px;
    font-size: 1.3rem;
    margin-right: 25px;
}
.sentence {
    margin-left: 2px;
    margin-right: 2px;
}
.info {
    margin-left: 2cm;
    margin-right: 2px;
}